# Dependencies
node_modules
dist
.nuxt
.output

# Build files
*.log
.DS_Store

# IDE
.vscode
.idea

# Env files
.env
.env.*
!.env.example

# Test coverage
coverage

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
